
@{
    ViewBag.Title = "WelcomePage";
}




<div class="bg-info center-block border border-dark">
    <h3 class="text-center" style="color:darkolivegreen"> @ViewBag.Message</h3>
    <p class="text-center" style="color:darkslategray">@ViewBag.Message1</p>
</div>  
